.page-catalog
	.container
		h1.section-title Каталог
		section.catalog
			.aside
				.search-box
					a.back-link(href="/catalog.html")

					form#search
						label.search
							input.search-field(name="search")
							.btn-search

				.categories
					a.category(href="/catalog/musicians/")
						img.icon(src="/img/icon-muzykanty.png")
						span.category-name Музыканты
					a.category(href="/catalog/writers/")
						img.icon(src="/img/icon-pisateli.png")
						span.category-name Писатели
					a.category(href="/catalog/actors/")
						img.icon(src="/img/icon-aktery.png")
						span.category-name Актеры
					a.category(href="/catalog/athletes/")
						img.icon(src="/img/icon-sportsmeny.png")
						span.category-name Спортсмены
					a.category(href="/catalog/scientists/")
						img.icon(src="/img/icon-uchenye.png")
						span.category-name Ученые
					a.category(href="/catalog/universes/")
						img.icon(src="/img/icon-vselennye.png")
						span.category-name Вселенные
					a.category(href="/catalog/historical-figures/")
						img.icon(src="/img/icon-istoricheskie.png")
						span.category-name Исторические личности

			.products-list
				.products
					.product
						.product-inner
							.product__slider 
								.slide 
									a.slide-inner(href="/product.html") 
										img.product-photo(src="/img/products-thumbs/gagarin.png")
							a.product__name(href="/product.html") Гагарин
							.product__controls 
								.btn.btn--orange.js__add-to-basket В корзину
								.counter 
									span.counter-minus -
									imput.count 0
									span.counter-plus +
								.price 1599 р.
								.buy-one-click.js__buy-one-click Купить в один клик
					.product
						.product-inner
							.product__slider 
								.slide 
									a.slide-inner(href="/product.html") 
										img.product-photo(src="/img/products-thumbs/potter.png")
							a.product__name(href="/product.html") Гарри Поттер
							.product__controls 
								.btn.btn--orange.js__add-to-basket В корзину
								.counter 
									span.counter-minus -
									imput.count 0
									span.counter-plus +
								.price 1599 р.
								.buy-one-click.js__buy-one-click Купить в один клик
					.product
						.product-inner
							.product__slider 
								.slide 
									a.slide-inner(href="/product.html") 
										img.product-photo(src="/img/products-thumbs/mcgregor.png")
							a.product__name(href="/product.html") Коннор Макгрегор
							.product__controls 
								.btn.btn--orange.js__add-to-basket В корзину
								.counter 
									span.counter-minus -
									imput.count 0
									span.counter-plus +
								.price 1599 р.
								.buy-one-click.js__buy-one-click Купить в один клик
					.product
						.product-inner
							.product__slider 
								.slide 
									a.slide-inner(href="/product.html") 
										img.product-photo(src="/img/products-thumbs/tolstoi.png")
							a.product__name(href="/product.html") Лев Тольстой
							.product__controls 
								.btn.btn--orange.js__add-to-basket В корзину
								.counter 
									span.counter-minus -
									imput.count 0
									span.counter-plus +
								.price 1599 р.
								.buy-one-click.js__buy-one-click Купить в один клик
					.product
						.product-inner
							.product__slider 
								.slide 
									a.slide-inner(href="/product.html") 
										img.product-photo(src="/img/products-thumbs/mcgregor.png")
							a.product__name(href="/product.html") Коннор Макгрегор
							.product__controls 
								.btn.btn--orange.js__add-to-basket В корзину
								.counter 
									span.counter-minus -
									imput.count 0
									span.counter-plus +
								.price 1599 р.
								.buy-one-click.js__buy-one-click Купить в один клик
					.product
						.product-inner
							.product__slider 
								.slide 
									a.slide-inner(href="/product.html") 
										img.product-photo(src="/img/products-thumbs/tolstoi.png")
							a.product__name(href="/product.html") Лев Толстой
							.product__controls 
								.btn.btn--orange.js__add-to-basket В корзину
								.counter 
									span.counter-minus -
									imput.count 0
									span.counter-plus +
								.price 1599 р.
								.buy-one-click.js__buy-one-click Купить в один клик
					.product
						.product-inner
							.product__slider 
								.slide 
									a.slide-inner(href="/product.html") 
										img.product-photo(src="/img/products-thumbs/fkalo.png")
							a.product__name(href="/product.html") Фрида Кало
							.product__controls 
								.btn.btn--orange.js__add-to-basket В корзину
								.counter 
									span.counter-minus -
									imput.count 0
									span.counter-plus +
								.price 1599 р.
								.buy-one-click.js__buy-one-click Купить в один клик
					.product
						.product-inner
							.product__slider 
								.slide 
									a.slide-inner(href="/product.html") 
										img.product-photo(src="/img/products-thumbs/gagarin.png")
							a.product__name(href="/product.html") Гагарин
							.product__controls 
								.btn.btn--orange.js__add-to-basket В корзину
								.counter 
									span.counter-minus -
									imput.count 0
									span.counter-plus +
								.price 1599 р.
								.buy-one-click.js__buy-one-click Купить в один клик
					.product
						.product-inner
							.product__slider 
								.slide 
									a.slide-inner(href="/product.html") 
										img.product-photo(src="/img/products-thumbs/mcgregor.png")
							a.product__name(href="/product.html") Коннор Макгрегор
							.product__controls 
								.btn.btn--orange.js__add-to-basket В корзину
								.counter 
									span.counter-minus -
									imput.count 0
									span.counter-plus +
								.price 1599 р.
								.buy-one-click.js__buy-one-click Купить в один клик
					.product
						.product-inner
							.product__slider 
								.slide 
									a.slide-inner(href="/product.html") 
										img.product-photo(src="/img/products-thumbs/tolstoi.png")
							a.product__name(href="/product.html") Лев Толстой
							.product__controls 
								.btn.btn--orange.js__add-to-basket В корзину
								.counter 
									span.counter-minus -
									imput.count 0
									span.counter-plus +
								.price 1599 р.
								.buy-one-click.js__buy-one-click Купить в один клик
					.product
						.product-inner
							.product__slider 
								.slide 
									a.slide-inner(href="/product.html") 
										img.product-photo(src="/img/products-thumbs/fkalo.png")
							a.product__name(href="/product.html") Фрида Кало
							.product__controls 
								.btn.btn--orange.js__add-to-basket В корзину
								.counter 
									span.counter-minus -
									imput.count 0
									span.counter-plus +
								.price 1599 р.
								.buy-one-click.js__buy-one-click Купить в один клик
					.product
						.product-inner
							.product__slider 
								.slide 
									a.slide-inner(href="/product.html") 
										img.product-photo(src="/img/products-thumbs/gagarin.png")
							a.product__name(href="/product.html") Гагарин
							.product__controls 
								.btn.btn--orange.js__add-to-basket В корзину
								.counter 
									span.counter-minus -
									imput.count 0
									span.counter-plus +
								.price 1599 р.
								.buy-one-click.js__buy-one-click Купить в один клик
				.product-list-controls
					.btn.btn--transparent.js__show-more Показать еще
					.page-navigation 
						span.page-navigation-number.active 1
						span.page-navigation-number 2
						span.page-navigation-number 3
						span.page-navigation-number 4
						span.page-navigation-number 5
						span.page-navigation-number 6
						span.page-navigation-number 7