header 
	.container 
		.row.d-flex.align-items-center.header-bg
			.col-xxl-8.d-xxl-flex.justify-content-xxl-start
				a.d-inline-block.logo-link(href="/")
					img.logo__img(src="/img/logo.svg")
				.main-nav.d-xxl-flex.justify-content-xxl-between
					a.main-nav__link.submenu(href="/catalog.html") Каталог
					a.main-nav__link(href="#") Галерея
					a.main-nav__link(href="#") Новости
					a.main-nav__link(href="#") Контакты
					a.main-nav__link(href="#") О нас
					a.main-nav__link(href="#") Отзывы
			.col-xxl-4.d-xxl-flex.align-items-xxl-center.justify-content-xxl-end
				a.phone-box.d-xxl-flex(href="tel:+78129920593") +7 (812) 992-05-93
				.login-box.d-xxl-flex 
					img.login__icon(src="/img/icon-login.svg")
					span.login__enter Войти
				.burger-box.d-xxl-none
					span.burger
				.cart-box.d-xxl-flex.align-items-xxl-center.justify-content-xxl-end 
					.cart__total 12980 р.
					img.cart__icon(src="/img/icon-cart.svg")