section.product-page 
	.container
		section.product
			.product-main-info
				.row 
					.col-xxl-6 
						.product-gallery
							.row 
								.col-xxl-2 
									.thumbs
										.swiper.js__product-thumbs
											.swiper-wrapper
												.swiper-slide
													.slider-inner
														img.thumb-image(src="/img/products-thumbs/gagarin.png")
												.swiper-slide
													.slider-inner
														img.thumb-image(src="/img/products-thumbs/gagarin.png")
												.swiper-slide
													.slider-inner
														img.thumb-image(src="/img/products-thumbs/gagarin.png")
												.swiper-slide
													.slider-inner
														img.thumb-image(src="/img/products-thumbs/gagarin.png")
												.swiper-slide
													.slider-inner
														img.thumb-image(src="/img/products-thumbs/gagarin.png")
												.swiper-slide
													.slider-inner
														img.thumb-image(src="/img/products-thumbs/gagarin.png")
												.swiper-slide
													.slider-inner
														img.thumb-image(src="/img/products-thumbs/gagarin.png")
												.swiper-slide
													.slider-inner
														img.thumb-image(src="/img/products-thumbs/gagarin.png")
										.thumbs-controls
											.swiper-button-next
											.swiper-button-prev
								.col-xxl-10 
									.gallery
										.swiper.js__product-gallery
											.swiper-wrapper
												.swiper-slide
													.slider-inner
														img.slide-image(src="/img/products/gagarin-001.png")
												.swiper-slide
													.slider-inner
														img.slide-image(src="/img/products/gagarin-001.png")
												.swiper-slide
													.slider-inner
														img.slide-image(src="/img/products/gagarin-001.png")
												.swiper-slide
													.slider-inner
														img.slide-image(src="/img/products/gagarin-001.png")
												.swiper-slide
													.slider-inner
														img.slide-image(src="/img/products/gagarin-001.png")
												.swiper-slide
													.slider-inner
														img.slide-image(src="/img/products/gagarin-001.png")
												.swiper-slide
													.slider-inner
														img.slide-image(src="/img/products/gagarin-001.png")
												.swiper-slide
													.slider-inner
														img.slide-image(src="/img/products/gagarin-001.png")
									//- .gallery-controls
										.swiper-button-next
										.swiper-button-prev
					.col-xxl-6 
						.content 
							h1.section-title Юрий Гагарин
							p Первый космонавт СССР и мира, ставший символом развития
								br
								| советской авиации и науки в целом, человек, навсегда вписавший 
								br
								| свое имя в историю исследования космического пространства

						.product__controls
							.controls__wrap
								.btn.btn--orange.js__add-to-basket В корзину
								.counter 
									span.counter-minus -
									imput.count 0
									span.counter-plus +
								.price 1599 р.
							.buy-one-click.js__buy-one-click Купить в 1 клик

						.advantages 
							.advantage.size 
								.value
									span.digit 17
									span.unit см
								.description Высота фигурки
							
							.advantage.time 
								.value 
									span.digit 120
									span.unit мин
								.description Время сборки

							.advantage.details 
								.value 
									span.digit 390
									span.unit шт
								.description Количество деталей

							.advantage.delivery 
								.value
									img(src="/img/product-advantage-delivery.svg")
								.description Наличие доставки
			.product-description
				.row 
					.col-xxl-2
						h2 Описание
					.col-xxl-10 
						.content
							p Consectetur adipiscing elit. At fermentum, elit, donec rhoncus laoreet sit sed vestibulum suscipit. Tortor viverra integer accumsan mauris sed a in. Augue lobortis morbi ut morbi turpis dolor at adipiscing. Erat magna sollicitudin aliquam at. Высота 18 см.
							p Изготовлен из экологически чистого материала.
							p Собрать Гагарина из деталей этого 3Д конструктора достаточно просто. Нужно всего лишь следовать инструкции на упаковке. Интересное времяпрепровождение гарантировано!



			.row 
				.col-xxl-12
					.content
						h2 Вам могут быть интересны

						.slider