@font-face {
    font-family: 'Literal';
    font-style: normal;
    font-weight: 400;
    src: local('Literal Regular'), url('../font/Literal - Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Literal';
    font-style: normal;
    font-weight: 300;
    src: local('Literal Light'), url('../font/Literal - Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Literal';
    font-style: normal;
    font-weight: 700;
    src: local('Literal Bold'), url('../font/Literal - Bold.woff') format('woff');
    }